[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
grpcio-tools = "*"
google-api-core = ">=2.17.1"
google-cloud-bigquery = "*"
google-cloud-bigquery-storage = "*"

[requires]
python_version = "3.9"

